{% extends 'base.html.twig' %}

{% block title %}Category index{% endblock %}

{% block body %}
    <h1>Category index</h1>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>N°</th>
                <th>Nom</th>
                <th>Nombre d'articles</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td>{{ category.articles|length }}</td>
                <td><a href="{{ url('category_show', {'id':category.id}) }}">Voir</a></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
