{% extends 'base.html.twig' %}

{% block title %}Categories{% endblock %}

{% block body %}
    <h1>Categories</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>Nom</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ category.name }}</td>
            </tr>
            <tr>
                <th>Nombre d'articles</th>
                <td>{{ category.articles|length }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('category_index') }}" class="btn btn-primary">back to list</a>
{% endblock %}
