{#
    Add 5 last articles in menu, if publicated
#}
{% for article in articles %}

    <a href="{{ url('article_show', {'id': article.id}) }}" class="dropdown-item">{{ article.title }}</a>

{% endfor %}