{# Add in menu the 5 last article categories #}
{% for category in categories %}

    <a href="{{ url('category_show', {'id': category.id}) }}" class="dropdown-item">{{ category.name }}</a>

{% endfor %}