{% extends 'base.html.twig' %}

{% block body %}

    {# Head #}
    <section class="section banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-10">
                    <h2 class="cd-headline clip is-full-width mb-4 ">
                        Bienvenue... <br>
                        <span class="cd-words-wrapper text-color">
                        <b class="is-visible">Sur le blog.</b>
                        <b>Projet porté par Abigail Germon &<br> Aymeric Leger Achard.</b>
                        <b>Profitez !</b>
                    </span>
                    </h2>
                    <p>Pour tester la partie back-office, utilisez les identifiants enregistrés dans le fichier /ReadMe.md</p>
                </div>
            </div>
        </div>
    </section>

    {# Last articles #}
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h2 class="mb-2 ">Les derniers articles publiés</h2>
                </div>
            </div>
            <div class="row">
                {% if lastArticles|length == 0 %}
                    {# No article found #}
                    <div class="alert alert-warning">
                        <p>Oh non ! Il n'y a pas d'article pour le moment... Mais ne vous inquiétiez pas, ça arrive bientôt !</p>
                    </div>
                {% else %}
                    <div class="row shuffle-wrapper portfolio-gallery">
                        {# Show last articles #}
                        {% for article in lastArticles %}

                            <div class="col-lg-4 col-6 mb-4 shuffle-item"  data-groups="[&quot;design&quot;,&quot;illustration&quot;]">
                                <div class="position-relative inner-box">
                                    <div class="image position-relative ">
                                        <div class="w-100" style="height: 20rem">
                                            {% if article.icon is not null  %}
                                                <img src="{{ asset('uploads/' ~ article.icon) }}" alt="portfolio-image" class="img-fluid w-100 d-block" style="height: 20rem">
                                            {% else %}
                                                <img src="{{ asset('assets/images/dftArticle.jpeg') }}" alt="portfolio-image" class="img-fluid w-100 h-100 d-block" style="height: 20rem">
                                            {% endif %}
                                        </div>
                                        <div class="overlay-box">
                                            <div class="overlay-inner">
                                                <a class="overlay-content" href="{{ url('article_show', {'id':article.id}) }}">
                                                    <h5 class="mb-0">{{ article.title }}</h5>
                                                    <p>{{ article.category.name }}</p>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </section>

{% endblock %}