<!DOCTYPE html>

<!--
 // WEBSITE: https://themefisher.com
 // TWITTER: https://twitter.com/themefisher
 // FACEBOOK: https://www.facebook.com/themefisher
 // GITHUB: https://github.com/themefisher/
-->

<html lang="zxx">

<head>
    <meta charset="utf-8">
    <title>Blog Alan Turing</title>

    <!-- mobile responsive meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- theme meta -->
    <meta name="theme-name" content="thomson" />

    <!-- ** Plugins Needed for the Project ** -->
    <!-- Bootstrap -->
    {{ encore_entry_link_tags('app') }}

    <!-- Main Stylesheet -->
    <link href="{{ asset('assets/styles/style.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('assets/plugins/themify/css/themify-icons.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/plugins/counto/animate.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/plugins/aos/aos.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/plugins/owl-carousel/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/plugins/owl-carousel/owl.theme.default.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/plugins/magnific-popup/magnific-popup.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/plugins/animated-text/animated-text.css') }}">

</head>

<body>

<!-- Navigation Start -->
<!-- Header Start -->

<nav class="navbar navbar-expand-lg  main-nav " id="navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="index.html">
            <img src="images/logo.png" alt="" class="img-fluid">
        </a>

        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
            <span class="ti-align-justify"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample09">
            <ul class="navbar-nav ml-auto">
                {# Home page #}
                <li class="nav-item  active"><a class="nav-link" href="{{ url('blog') }}">Accueil</a></li>

                {# Articles #}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="articlesDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Articles
                    </a>
                    <div class="dropdown-menu" aria-labelledby="articlesDropdown">
                        <a class="dropdown-item" href="{{ url ('article_index')}}">Voir les articles</a>
                        {% if is_granted('ROLE_ADMIN') %}
                            <a class="dropdown-item" href="{{ url ('dashboard_articles_news')}}">Ecrire un article</a>
                            <a class="dropdown-item" href="{{ url ('dashboard_articles_list')}}">Gérer les articles</a>
                        {% endif %}
                        <div class="dropdown-divider"></div>
                        {{ render(controller('App\\Controller\\ArticleController::getLastArticlesForNavigation')) }}
                    </div>
                </li>

                {# Categories #}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="categoriesDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Categories
                    </a>
                    <div class="dropdown-menu" aria-labelledby="categoriesDropdown">
                        <a class="dropdown-item" href="{{ url('category_index') }}">Voir les catégories</a>
                        {% if is_granted('ROLE_ADMIN') %}
                            <a class="dropdown-item" href="{{ url ('dashboard_categories_list')}}">Gérer les catégories</a>
                            <a class="dropdown-item" href="{{ url ('dashboard_categories_new')}}">Ajouter une catégories</a>
                        {% endif %}
                        <div class="dropdown-divider"></div>
                        {{ render(controller('App\\Controller\\CategoryController::getLastCategoriesForNavigation')) }}
                    </div>
                </li>

                {# Account management #}
                {% if not app.user or not is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li class="nav-item">
                        <a href="{{ url('app_auth_login') }}" class="nav-link">Connexion</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ url('app_auth_register') }}" class="nav-link">Inscription</a>
                    </li>
                {% else %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ url('dashboard_home') }}" class="nav-link">Administration</a>
                    {% endif %}

                    <li class="nav-item">
                        <a href="{{ url('app_logout') }}" class="nav-link">Déconnexion</a>
                    </li>
                {% endif %}

                {# Include search form #}
                <li class="nav-item mt-2">
                    {{ render(controller('App\\Controller\\NavigationController::navigationSearch')) }}
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Header Close -->


<!-- Navigation ENd -->

<!-- Banner Start -->
<section class="section banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-10">
                <h2 class="cd-headline clip is-full-width">
                    {% block pageTitle %}{% endblock %}
                </h2>
            </div>
        </div>
    </div>
</section>

<!-- Banner End -->

<div class="section">
    <div class="container">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        {% for message in app.flashes('error') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}

        {% block body %}{% endblock %}
    </div>
</div>

<!-- Footer start -->
<section class="footer">
    <div class="container">
        <div class="row ">
            <div class="col-lg-6">
                <p class="mb-0">Copyrights © 2019. Designed & Developed by <a href="https://themefisher.com" class="text-white">Themefisher</a></p>
            </div>
            <div class="col-lg-6">
                <div class="widget footer-widget text-lg-right mt-5 mt-lg-0">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item"><a href="https://www.facebook.com/themefisher" target="_blank"><i class="ti-facebook mr-3"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="https://twitter.com/themefisher" target="_blank"><i class="ti-twitter mr-3"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="https://github.com/themefisher/" target="_blank"><i class="ti-github mr-3"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.pinterest.com/themefisher/" target="_blank"><i class="ti-pinterest mr-3"></i></a></li>
                        <li class="list-inline-item"><a href="https://dribbble.com/themefisher/" target="_blank"><i class="ti-dribbble mr-3"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Footer End -->

<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
{{ encore_entry_script_tags('app') }}
<script src="{{ asset('assets/plugins/aos/aos.js') }}"></script>
<script src="{{ asset('assets/plugins/owl-carousel/owl.carousel.min.js') }}"></script>
<script src="{{ asset('assets/plugins/shuffle/shuffle.min.js') }}"></script>
<script src="{{ asset('assets/plugins/magnific-popup/jquery.magnific-popup.min.js') }}"></script>
<script src="{{ asset('assets/plugins/animated-text/animated-text.js') }}"></script>
<script src="{{ asset('assets/plugins/counto/apear.js') }}"></script>
<script src="{{ asset('assets/plugins/counto/counTo.js') }}"></script>
<!-- Main Script -->
<script src="{{ asset('assets/scripts/script.js') }}"></script>

</body>
</html>
