{% extends 'base.html.twig' %}

{% block pageTitle %}Je me connecte{% endblock %}

{% block body %}

    {% if message %}
        <div>{{ message.messageKey|trans(message.messageData, 'security') }}</div>
    {% endif %}

    {{ form_start(form) }}

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

    {{ form_end(form) }}

{% endblock %}