<!--
=========================================================
* Material Dashboard 2 - v3.0.0
=========================================================

* Product Page: https://www.creative-tim.com/product/material-dashboard
* Copyright 2021 Creative Tim (https://www.creative-tim.com)
* Licensed under MIT (https://www.creative-tim.com/license)
* Coded by Creative Tim

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('assets/material-template/assets/img/apple-icon.png') }}">
  <link rel="icon" type="image/png" href="{{ asset('assets/material-template/assets/img/favicon.png') }}">
  <title>Blog - Administration</title>
  {{ encore_entry_link_tags('app') }}
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />
  <!-- Nucleo Icons -->
  <link href="{{ asset('assets/material-template/assets/css/nucleo-icons.css') }}" rel="stylesheet" />
  <link href="{{ asset('assets/material-template/assets/css/nucleo-svg.css') }}" rel="stylesheet" />
  <!-- Font Awesome Icons -->
  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  <!-- Material Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round') }}" rel="stylesheet">
  <!-- CSS Files -->
  <link id="pagestyle" href="{{ asset('assets/material-template/assets/css/material-dashboard.css') }}" rel="stylesheet" />
</head>

<body class="g-sidenav-show  bg-gray-200">
  <aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3   bg-gradient-dark" id="sidenav-main">
    <div class="sidenav-header">
      <i class="fas fa-times p-3 cursor-pointer text-white opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
      <a class="navbar-brand m-0" href=" {{ url('blog') }}">
        <img src="{{ asset('assets/material-template/assets/img/logo-ct.png') }}" class="navbar-brand-img h-100" alt="main_logo">
        <span class="ms-1 font-weight-bold text-white">Administration</span>
      </a>
    </div>
    <hr class="horizontal light mt-0 mb-2">
    <div class="collapse navbar-collapse  w-auto  max-height-vh-100" id="sidenav-collapse-main">
      <ul class="navbar-nav">
        <li class="nav-item text-center">
          <a href="{{ url('blog') }}" class="text-white text-bold">Retour au site</a>
        </li>
        <li class="nav-item">
          <div class="dropdown show p-2">
            <a class="nav-link-text ms-1 dropdown-toggle text-white" href="#" role="button" id="dropdown_articles" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Articles</a>
            <div class="dropdown-menu" aria-labelledby="dropdown_articles">
              <a class="dropdown-item" href="{{ url('dashboard_articles_list') }}">Liste</a>
              <a class="dropdown-item" href="{{ url('dashboard_articles_news') }}">Ajouter</a>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <div class="dropdown show p-2">
            <a class="nav-link-text ms-1 dropdown-toggle text-white" href="#" role="button" id="dropdown_categories" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Catégories</a>
            <div class="dropdown-menu" aria-labelledby="dropdown_categories">
              <a class="dropdown-item" href="{{ url('dashboard_categories_list') }}">Liste</a>
              <a class="dropdown-item" href="{{ url('dashboard_categories_new') }}">Ajouter</a>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <div class="dropdown show p-2">
            <a class="nav-link-text ms-1 dropdown-toggle text-white" href="#" role="button" id="dropdown_users" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Utilisateurs</a>
            <div class="dropdown-menu" aria-labelledby="dropdown_users">
              <a class="dropdown-item" href="{{ url('dashboard_users_new') }}">Créer</a>
              <a class="dropdown-item" href="{{ url('dashboard_users_list') }}">Liste</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </aside>
  <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <div class="container-fluid py-4">
      <div class="row mb-4">
        <h1>
          {% block pageTitle %}
            Administration
          {% endblock %}
        </h1>
      </div>
      <div class="row min-vh-80 h-100">
        <div class="col-12">

          {% for message in app.flashes('success') %}
            <div class="alert alert-success">
              {{ message }}
            </div>
          {% endfor %}

          {% for message in app.flashes('error') %}
            <div class="alert alert-danger">
              {{ message }}
            </div>
          {% endfor %}

          {% block body %}{% endblock %}
        </div>
    </div>
    <footer class="footer pt-5">
      <div class="container-fluid">
        <div class="row align-items-center justify-content-lg-between">
          <div class="col-lg-6 mb-lg-0 mb-4">
            <div class="copyright text-center text-sm text-muted text-lg-start">
              © <script>
                document.write(new Date().getFullYear())
              </script>,
              made with <i class="fa fa-heart"></i> by
              <a href="https://www.creative-tim.com" class="font-weight-bold" target="_blank">Creative Tim</a>
              for a better web.
            </div>
          </div>
          <div class="col-lg-6">
            <ul class="nav nav-footer justify-content-center justify-content-lg-end">
              <li class="nav-item">
                <a href="https://www.creative-tim.com" class="nav-link text-muted" target="_blank">Creative Tim</a>
              </li>
              <li class="nav-item">
                <a href="https://www.creative-tim.com/presentation" class="nav-link text-muted" target="_blank">About Us</a>
              </li>
              <li class="nav-item">
                <a href="https://www.creative-tim.com/blog" class="nav-link text-muted" target="_blank">Blog</a>
              </li>
              <li class="nav-item">
                <a href="https://www.creative-tim.com/license" class="nav-link pe-0 text-muted" target="_blank">License</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </div>
  </main>

  {{ encore_entry_script_tags('app') }}
  <!--   Core JS Files   -->
  <script src="{{ asset('assets/material-template/assets/js/plugins/perfect-scrollbar.min.js') }}"></script>
  <script src="{{ asset('assets/material-template/assets/js/plugins/smooth-scrollbar.min.js') }}"></script>
  <script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
  </script>
  <!-- Github buttons -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="../assets/js/material-dashboard.min.js?v=3.0.0"></script>
</body>

</html>