{% extends 'dashboard/base.dashboard.html.twig'%}

{% block pageTitle %}
    {% if title is defined %}
        {{ title }}
    {% else %}
        Formulaire sans titre
    {% endif %}
{% endblock %}

{% block body %}

    {# Form content #}

    <div class="container">
        <div class="row">
            {% if form is not defined %}
                <div class="alert alert-danger">
                    <p class="text-white">Aucun formulaire n'a été transmit.</p>
                </div>

            {% else %}

                {{ form_start(form) }}

                {{ form_end(form) }}

            {% endif %}
        </div>
    </div>

{% endblock %}