{% extends 'dashboard/base.dashboard.html.twig' %}

{% block pageTitle %}
    Bienvenue sur l'administration du blog !
{% endblock %}

{% block body %}Du contenu sera peut-être ajouté dans un mise à jour ! Vous pouvez cependant accéder aux fonctionnalités existantes depuis le menu à gauche.{% endblock %}