{% extends 'dashboard/base.dashboard.html.twig' %}

{% block pageTitle %}
    {% if title is defined %}
        {{ title }}
    {% else %}
        Formulaire sans titre
    {% endif %}
{% endblock %}

{% block body %}

    <div class="container">
        <div class="row text-end">
            {% for optionKey, optionValue in extra %}
                <div class="column">
                    <a href="{{ url(optionValue.url) }}" class="btn {{ optionValue.class }}">{{ optionKey }}</a>
                </div>
            {% endfor %}
        </div>
        <div class="row">
            {% if table is defined %}
                <table class="table">
                    <thead>
                    <tr>
                        {% for header in tableHeader %}
                            <th>{{ header }}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in table %}
                        <tr>
                            {% for sub in range(0, item|length-2) %}
                                <td>{{ item[sub] }}</td>
                            {% endfor %}
                            <td>
                                {% for buttons in range(item|length-1, item|length-1) %}

                                    {% for btnKey, btnValue in item[buttons] %}
                                        <a href="{{ url(btnValue.url, btnValue.urlParameters) }}" class="btn {{ btnValue.class }}">{{ btnKey }}</a>
                                    {% endfor %}

                                {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="alert alert-danger">
                    <p>Erreur interne lors de la création du tableau</p>
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}