{% extends 'base.html.twig' %}

{% block body %}

    {# articles returned by search form #}

    {% if articles is not defined %}
        {# access to page without search request #}

        <div class="alert alert-danger">
            <p>Votre demande de recherche n'est pas valide !</p>
        </div>

    {% else %}

        {% if articles|length == 0 %}
            <div class="alert alert-warning">
                <p>Aucun résultat n'a été trouvé.</p>
            </div>

        {% else %}
            <table>
                <thead>
                <tr>
                    <th>Numéro d'article</th>
                    <th>Intitulé</th>
                    <th>Résumé</th>
                    <th>Catégorie</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                    {% for article in articles %}
                        <tr>
                            <td>{{ article.id }}</td>
                            <td>{{ article.title }}</td>
                            {% if article.content|length > 45 %}
                                <td>{{ article.content|slice(0, 45) }}...</td>
                            {% else %}
                                <td>{{ article.content }}</td>
                            {% endif %}
                            <td>{{ article.category.name }}</td>
                            <td><a href="{{ url('article_show', {'id' : article.id}) }}" class="btn btn-info">Lire</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}

    {% endif %}

{% endblock %}