{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}

    {# if article image is null, no show #}
    {% if article.icon is not null %}
        <section class="section banner-3">
            <div class="container">
                <div class="row justify-content-center align-items-center text-center">
                    <div class="col-lg-12">
                        <div class="profile mb-5">
                            <img src="{{ asset('uploads/' ~ article.icon) }}" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}

    {# article title & author & category #}
    <section class="section banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-10">
                    <h2 class="cd-headline clip is-full-width mb-4 ">
                        Vous lisez... <br>
                        <span class="cd-words-wrapper text-color">
                        <b class="is-visible">{{ article.title }}</b>
                        <b>De {{ article.author.userIdentifier }}</b>
                        <b>Dans la catégorie {{ article.category.name }}</b>
                    </span>
                    </h2>
                </div>
            </div>
        </div>
    </section>

    {# article content #}
    <section class="container">
        <div class="p-5">
            {{ article.content }}
        </div>

        <a href="{{ path('article_index') }}" class="btn btn-primary">back to list</a>
    </section>

{% endblock %}
